
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
 font-family: "Urbanist", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 15px;
}

p {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a,
button {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  cursor: pointer;
  text-decoration: none;
}

.urbanist-thin {
  font-family: "Urbanist", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.urbanist-extralight {
  font-family: "Urbanist", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.urbanist-light {
  font-family: "Urbanist", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.urbanist-regular {
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.urbanist-medium {
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.urbanist-semibold {
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.urbanist-bold {
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.urbanist-extrabold {
  font-family: "Urbanist", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.urbanist-black {
  font-family: "Urbanist", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.urbanist-thin-italic {
  font-family: "Urbanist", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.urbanist-extralight-italic {
  font-family: "Urbanist", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.urbanist-light-italic {
  font-family: "Urbanist", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.urbanist-regular-italic {
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.urbanist-medium-italic {
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.urbanist-semibold-italic {
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.urbanist-bold-italic {
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.urbanist-extrabold-italic {
  font-family: "Urbanist", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.urbanist-black-italic {
  font-family: "Urbanist", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* secondary font  */

.inter-thin {
  font-family: "Inter", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.inter-extralight {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.inter-light {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inter-medium {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.inter-semibold {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.inter-extrabold {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.inter-black {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.inter-thin-italic {
  font-family: "Inter", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.inter-extralight-italic {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.inter-light-italic {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.inter-regular-italic {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.inter-medium-italic {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.inter-semibold-italic {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.inter-bold-italic {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.inter-extrabold-italic {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.inter-black-italic {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: italic;
}


