
$primary: #5774AC;
$primary-light: #EDF4FF;
$secondary: #F68A1E;
$secondary-light: #FFECD9;
$success: #28a745;
$text-dark: #01153F;
$text-light: #555;
$white-color:#fff;
$white-color-2:#F7F9FA;
$gray-dark: #697173;
$gray-dark-2: #a3a3a3;
$gray-light: #E8E8E8;
$gray-light-2: #D0D3D4;
$sidebar-bg-color: #213034;

$font-family: "Urbanist", sans-serif;

$space-xs: 4px;
$space-sm: 8px;
$space-md: 16px;
$space-lg: 24px;
